@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Josefin+Slab:wght@600&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0; 
    padding: 0;
    height: 100vh;
    background-color: #1a1a1d;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: josefin-slab, sans-serif;
}

::-webkit-scrollbar {
    width: 0;
}

h1, h2, h3 {
    color: #c3073f;
    font-size: 1.5rem;
    font-family: josefin-sans, 'Times New Roman', Times, serif;
}

/* Styles for the game container */
.game-container {
    border: 1px solid white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-gap: 5%;
    width: 1000px;
    height: 600px;
    background-color: #1a1a1d;
    position: relative;
    overflow: hidden;
}

/* Styles for the header in the game-container */
.header {
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: fit-content;
    background-color: #c3073f;
}

.nav-items, .nav-items-toggle {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-items li {
    display: inline-block;
    padding: 0 20px;
    cursor: pionter;
}

.nav-items li a {
    text-decoration: none;
    color: white; 
    transition: all .3s ease 0s;
}

.nav-items li a:hover {
    font-size: 150%;
}

.quiz-heading {
    font-size: 1.5rem;
}

/* Styles for the toggle menu */
#toggle-button {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: transparent;
    position: relative;
    margin-top: 10px;
    display: none;
    text-align: center;
    font-size: 1.5rem;
}

.toggle-nav-list-container {
    display: none;
    background: #c3073f;
    height: 200px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 70px;
}

.nav-items-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.nav-items-toggle li a {
    text-decoration: none;
    color: white; 
    margin-bottom: 10px;
}

.nav-items-toggle li a:hover {
    font-size: 150%;
}

/* Styles for the start section */
.username-and-start-section {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 50%;
    text-align: center;
}

.name-and-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.username-and-start-section h1 {
    color: #c3073f;
    margin-top: 40px;
    padding: 20px 10px;
    font-size: 1.5rem;
}

.intro-form {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 20px;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

.username-field-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;

}

input[type=text], input[type=email], textarea {
    padding: 5px 10px;
    border: 2px solid #c3073f;
    border-radius: .5rem;
    width: 40%;
    margin-top: 30px;
    height: 40px;
}

#start-button {
    background: #c3073f;
    color: white;
    width: 30%;
    margin: 0 35%;
    padding: 10px;
    border-radius: .5rem;
}

#start-button:hover {
    color: #c3073f;
    background: #1a1a1d;
    border-color: #c3073f;
}

/*Styles for the rules and info section*/
.rules-and-info {
    text-align: center;
    grid-template-rows: auto;
    overflow-y: scroll;
}

.rules {
    margin: 10px;
    padding: 10px 100px;
}

.rules-and-info h1,
.contact-form h1 {
    text-align: left;
    margin-left: 20px;
}

/* Style for the contact form */
.contact-container {
    display: grid;
    grid-template-columns: 100%;
    margin: 20px;
    grid-column-gap: 10px;
    color: white;
}

.contact-form {
    width: 100%;
    background: transparent;
    color: white;
    font-weight: 500;
    padding: 10px 5px;
}

.contact-form label {
    margin: 5px 10px;
    display: block;
    text-align: center;
}

.contact-form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form input, .contact-form textarea {
    display: block;
    width: 80%;
    padding: 10px 5px;
    margin: 10px 20px;
}

input[type=submit] {
    background: #c3073f;
    color: white;
    border-radius: 60px;
    width: 33%;
    margin: 10px 20px;
}

input[type=submit]:hover {
    background: transparent;
    border-color: #c3073f;
    color: white;
}

/* The question and asnwer section */
#quiz-section {
    border: 1px solid white;
    display: grid; 
    grid-template-columns: 100%;
    grid-template-rows: 10% 20% 40% 10%;
    grid-gap: 5%;
    width: 1000px;
    height: 600px;
    background-color: #1a1a1d;
    position: relative;
}

/* Styles for the quistion area */
.question-container {
    display: grid;
    grid-template-columns: 100%;
    padding: 10px;
}

.question {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c3073f;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    font-size: 25px;
}

/*styles fot the answers */
.answer-container {
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    padding: 10px;
    grid-gap: 10px;
    justify-content: center;
}

.answer-button {
    background: transparent;
    color: white;
    border: 1px solid #c3073f;
    cursor: pointer;
    font-size: 25px;
}

.answer-button:hover {
    color: #c3073f;
    border-color: white;
    font-size: 150%;
}

.answer-right {
    background-color: green;
}

.answer-wrong {
    background-color: red;
}

/* progress bar and timer */
.timer-and-progress {
    border: 1px solid #c3073f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    padding: 0 30px;
}

.timer {
    width: 210px;
    height: 20px;
    border: 1px solid #c3073f;
}

.timer-bar {
    width: 0;
    height: 100%;
    background: green;
    border: 1px solid green;
}

.progress-bar {
    width: 150px;
    height: 20px;
    display: flex;
}

.progress-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #c3073f;
}

/* The next button */
#next-button {
    background: #c3073f;
    color: white;
    padding: 10px;
    border-radius: .5rem;

}

#next-button:hover {
    background: #1a1a1d;
    border-color: white;
    color: #c3073f;
}

/* section for When the quiz is finished */
.restart-and-score {
    background-color: #1a1a1d;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#message-and-image-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-holder {
    width: 200px;
    height: 200px;
    background-color: #1a1a1d;
}

.restart-and-score img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 5%;
}

#restart-button {
    background: #c3073f;
    color: white;
    width: 30%;
    margin: 0 35%;
    padding: 10px;
    border-radius: .5rem;
    margin-top: 5%;
}

#restart-button:hover {
    color: #c3073f;
    background: #1a1a1d;
    border-color: #c3073f;
}


/* All the media quries */
@media screen and (max-width: 1200px) {
    .game-container, #quiz-section {
        width: 700px;
        height: 500px;
    }
}

@media screen and (max-width: 992px) {
    .game-container, #quiz-section {
        width: 550px;
        height: 600px;
    }

    .rules {
        padding: 10px 30px;
    }
}

@media screen and (max-width: 768px) {
    
    .nav-items {
        display: none;
    }
    
    #toggle-button {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .game-container, #quiz-section {
        width: 350px;
        height: 500px;
    }

    /* The username and start button */
    #username {
        width: 70%;
    }
    
    #start-button {
        width: 35%;
    }

    /* The contact form */
    .contact-form input, 
    .contact-form textarea {
        width: 95%;
    }
    
    input[type=submit] {
        width: 60%;
    }

    /* The question and answer section */
    .question {
        margin-top: 10px;
        font-size: 17px;
        padding: 5px;
    }

    .answer-button {
        font-size: 17px;
    }

    .answer-container {
        grid-template-columns: 100%;
    }

    .timer-and-progress {
        flex-direction: column;
    }

    /*The info section */
    .rules {
        padding: 10px 19px;
    }
}

.hidden {
    display: none !important;
}